footer {
  grid-area: footer;
  background-color: hsl(0, 93%, 68%);
  text-align: center;
  color: #ffffff;
  padding: 0.8rem 0;
  font-family: "Open Sans", sans-serif;
}

footer a {
  color: #ffffff;
}
