header {
  grid-area: header;
  padding: 3rem 2rem;

  background-color: hsl(0, 93%, 68%);

  color: #fff;
  text-align: center;
}

h1 {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

input {
  height: 4rem;
  padding: 0 1rem;
  width: 45%;
  background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 70%, 85%));
  border: none;
  border-bottom: 3px solid #413a3a91;
  border-left: 3px solid #413a3a91;
  color: #000;
}

input:focus-within {
  background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 70%, 85%));
  border-right: 3px dashed #fff;
  border-top: 3px solid #fff;
  font-size: 1rem;
}

header button {
  background-color: #fff;
  height: 4rem;

  padding: 0.5rem 1.5rem;
  border: 2px solid #413a3a91;
  box-shadow: 10px 8px 9px #413a3a91;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

header button:hover {
  background: linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 70%, 85%));
}
