@media screen and (max-width: 800px) and (min-width: 600px) {
  main div {
    width: 60%;
  }

  .logo {
    font-size: 5rem;
    left: 30px;
  }
}

@media (max-width: 599px) {
  .wrapper {
    grid-template-rows: 200px auto 50px;
  }

  h1 {
    font-family: "Caveat", cursive;
    font-size: 2.3rem;
  }

  input {
    width: 70%;
  }

  main {
    padding: 0.5rem 1.5rem 3rem;
  }

  main div {
    width: 100%;
    padding: 1rem;
  }

  .logo {
    font-size: 2rem;
    top: 55px;
    left: 6px;
  }

  span {
    bottom: 68px;
  }
}
